header {
    section {
        height: 10vh;
        figure {
            img {
                height:  65px;
                width: 70px;
                border-radius: 100%;
            }
        }
    }    

}